@charset "UFT-8";


body {
  background: #61aff7;
  font-family: Arial;
  font-size: 24px;
}

h1 {
  text-align: center;
}

span {
  display: block;
  width: 300px;
  margin: 0 auto;
  font-size: 25px;
  text-align: center;
  font-weight: bold;
}

input {
  display: block;
  border-radius: 5px;
  border: none;
  margin: 10px auto;
  font-size: 25px;
}

#idade {
  background: yellow;
  width: 200px;
}

.btn {
  width: 200px;
  padding: 20px;
  background: #0c0166;
  color: #fff;
  text-transform: uppercase;
}

#condicao {
  width: 300px;
  background: #9be1ff;
  color: #222;
  padding: 10px;
  font-weight: bold;
  margin: 20px auto;
  border-radius: 5px;
}

